[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/vim-colors-solarized"]
	path = vim/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
